body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffef5f;
    display: flex;
    flex-direction: column;
}

header {
    background: #ffef5f;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 140px); /* Adjusted height to account for footer */
    padding: 20px;
    box-sizing: border-box;
}

.content {
    background: #ffef5f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px; /* Adjust the max-width as needed */
    word-wrap: break-word;
    box-sizing: border-box;
}

h2, h3 {
    color: #333;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #ffef5f;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer nav ul li a:hover {
    text-decoration: underline;
}
